html{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
.body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    //font-family: 'EB Garamond', serif;
    //font-family: 'Assistant', sans-serif;
   // font-family: 'Assistant', sans-serif;
   //font-family: 'M PLUS 1p', sans-serif;
   font-family: 'Vidaloka', serif;
    overflow-x:hidden; 

   
}